<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block title %}
  Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
    <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
  </nav>
</header>
<main>
  <h1>{{ recipe_object.title }}</h1>
  <div class="container">
    <div class="grid-item">
      <img src="{{ recipe_object.picture }}" />
      <div>4.3 stars</div>
    </div>
  </div>
  <p>{{ recipe_object.description }}</p>
  <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Food Item</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in recipe_object.ingredients.all %}
      <tr>
        <td>{{ ingredient.amount }}</td>
        <td>{{ ingredient.food_item }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in recipe_object.steps.all %}
    <li>{{ step.instruction }}</li>
    {% endfor %}
  </ol>
</main>
{% endblock content %}
<!-- prettier-ignore-end -->
<!DOCTYPE html>
<html>
  <head>
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
  </head>
  <body>
    <footer><p>Made with love by Scrumptious Recipes</p></footer>
  </body>
</html>
