<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block title %}
  Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
  <nav><a href="{% url 'recipe_list' %}">Main page</a></nav>
</header>
<main>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button>Save</button>
  </form>
</main>
{% endblock content %}
<!-- prettier-ignore-end -->
<!DOCTYPE html>
<html>
  <head>
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
  </head>
  <body>
    <footer><p>Made with love by Scrumptious Recipes</p></footer>
  </body>
</html>
