<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block title %}
  Scrumptious Recipes
{% endblock title %}
{% block content %}
<!-- prettier-ignore-end -->
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
    <a href="{% url 'create_recipe' %}">Create a recipe</a>
    <!-- prettier-ignore -->
    {% if user.is_authenticated %}
    Hello, {{ user.username }}
    <a href="{% url 'my_recipe_list' %}">My recipes</a>
    <a href="{% url 'logout_view' %}">Logout</a>
    {% else %}
    <a href="{% url 'signup' %}">Sign up</a>
    <a href="{% url 'user_login' %}">Login</a>
    {% endif %}
    <!-- prettier-ignore-end -->
  </nav>
</header>
<main>
  <h1>Scrumptious Recipes</h1>
  <h2>All the food that's fit to eat</h2>
  <div class="container">
    {% for recipe in recipe_list %}
    <div class="grid-item">
      <h3>
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </h3>
      <p>{{ recipe.created_on|date:"D d M Y" }}</p>
      <img id="mainimage" img src="{{ recipe.picture }}" />
      <div>4.3 stars</div>
    </div>
    {% endfor %}
  </div>
  <br /><br />
</main>
{% endblock content %}
<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <footer><p>Made with love by Scrumptious Recipes</p></footer>
  </body>
</html>
